# Archivos y carpetas generados por el sistema
*.log
*.tmp
*.swp

# Archivos de la build
bin/
obj/

# Archivos de usuario de Visual Studio
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de configuración de paquetes
*.nupkg
*.snupkg
*.pdb
*.xml
*.dll
*.exe

# Archivos de caché
*.cache
*.db
*.sqlite

# Archivos de caché de Entity Framework
*.efmigration

# Configuración de IDE
.idea/
*.suo
*.user
*.userosscache

# Configuración de Rider
.idea/

# Otros archivos y carpetas que quieras ignorar
*.DS_Store
*.vscode
*.vs
